            * {
                padding: 0;
                /* margin: 0 10px; */
                box-sizing: border-box;
            }
            
            html {
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .text-white {
                color: #fff !important;
            }
            
            #header {
                margin: 0 0 20PX;
            }
            
            #body {
                background-color: #1a1a1a;
                color: #dcdcdc;
                margin: 10px 0px;
            }
            
            .clear {
                clear: both;
            }
            /* 
/* /* 
/* header */
            
            .header {
                /* position: fixed; */
                top: 0;
                z-index: 20;
                width: 100%;
                margin-left: -90px;
                background-color: #1a1a1a;
                height: 45px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .header>.hed-list {
                background-color: var(--bgcolor);
                width: 95%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .header ul {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: space-between;
                width: 70%;
                background-color: none;
            }
            
            .header ul li {
                text-decoration: none;
                color: white;
                line-height: 100%;
                font-size: 20px;
                display: inline-flex;
                flex-direction: column;
                position: relative;
                width: 20%;
                text-align: center;
                text-transform: uppercase;
                padding: 1%;
            }
            
            .header ul li:hover {
                color: whitesmoke;
                z-index: 30;
                cursor: default;
            }
            
            .header ul li:hover .sub {
                display: block;
                transition-timing-function: ease-out;
            }
            /* sub span */
            
            .sub {
                display: none;
            }
            
            .sub span {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                width: 150%;
                height: auto;
                font-size: 15px;
                position: absolute;
                padding: 9%;
                background-color: grey;
                top: 130%;
                left: 25%;
            }
            
            .sub span a {
                padding: 5%;
                text-decoration: none;
                color: #fff;
                text-align: left;
            }
            
            .sub span a:hover {
                color: black !important;
            }
            
            .spanTL {
                width: 300%;
                height: auto;
                background-color: grey;
                color: #000;
                padding: 70%;
                position: relative;
                float: left;
                border-radius: 20px;
                box-shadow: 0 0 10px rgb(0, 0, 0);
            }
            
            .spanTL.arrow-top:after {
                content: " ";
                position: absolute;
                left: 30px;
                top: -15px;
                border-top: none;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-bottom: 15px solid grey;
            }
            
            .sub span a {
                min-width: 50%;
            }
            
            .fa-search:before {
                padding: 7px;
            }
            /* tạo box arrow */
            
            .box {
                display: none;
                width: 82%;
                height: 50px;
                background-color: rgb(0, 0, 0, 0.7);
                color: #000;
                padding: 10px;
                position: relative;
                box-shadow: 0 0 10px rgb(0, 0, 0);
                float: left;
                border-radius: 20px;
            }
            
            .box.arrow-top {
                margin-top: 30px;
            }
            
            .box.arrow-top:after {
                content: " ";
                position: absolute;
                left: 30px;
                top: -15px;
                border-top: none;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-bottom: 15px solid grey;
            }
            
            .logo {
                width: 20%;
            }
            /* BEGIN: INFORMATION------------------------------ */
            /* .link-info {
        height: 50px;
        width: 100%;
        line-height: 45px;
        font-size: 12px;
        background: #181818;
        margin: 0 0 10px;
        padding: 5px 10px;
    } */
            
            body {
                background-color: #1a1a1a;
            }
            
            .contaier-info-movie {
                display: flex;
                margin: 0 50px;
                /* margin-top: 39px; */
                background-color: #1a1a1a;
            }
            
            .info-container {
                max-width: 800px;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                background: #181818;
                padding: 10px;
            }
            
            .container-poster-info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .img-box {
                width: 300px;
                height: 380px;
                margin-right: 10PX;
                position: relative;
            }
            
            .img-box .poster {
                object-fit: cover;
                width: 100%;
                max-height: 380px;
            }
            
            .btn-poster {
                position: absolute;
                margin: 0;
                bottom: 0px;
                width: 100%;
                background: rgba(0, 0, 0, 0.8);
                padding: 15px 0px;
                border: 1px solid transparent;
            }
            
            .btn-poster-movie {
                float: left;
                padding: 8px;
                margin-left: 9%;
                margin-right: 0%;
                list-style-type: none;
            }
            
            .btn-poster .btn-download {
                font-size: 16px;
                color: #ffffff;
                padding: 15px 15px;
                text-decoration: none;
                background-color: #337ab7;
                border-color: #2e6da4;
            }
            
            .btn-poster .btn-download:hover,
            .btn-poster .btn-watch-movie:hover {
                opacity: 0.8;
                cursor: pointer;
            }
            
            .btn-poster .btn-watch-movie {
                font-size: 16px;
                color: #ffffff;
                padding: 15px 15px;
                text-decoration: none;
                background-color: #f50c18;
                border-color: #f11c1c;
            }
            
            .info-box {}
            
            .name-movie {
                font-size: 30px;
                padding-top: 5px;
                margin: 0 5px 5px;
                color: #ff9658;
            }
            
            .sub-name {
                color: #999999;
                font-size: 12px;
                margin: 0 5px 5px;
            }
            
            .info-movie {
                text-align: justify;
                overflow-y: scroll;
                width: 470px;
                max-height: 315px;
                background-color: #282828;
                list-style-type: none;
                margin: 5px 0 0px;
            }
            
            .info-movie .info-status {
                line-height: 30px;
                padding: 5px;
            }
            
            .review-movie {
                display: flex;
                margin: 10px 0px 0 10px;
                width: 460px;
                height: 60px;
                flex-direction: row;
                background-color: #282828;
            }
            
            .btn-like {
                background-color: #2b63ff;
                padding: 5px;
                margin: 10px;
            }
            
            .btn-share {}
            
            .btn-save {}
            
            .part-movie {
                background: #282828;
                overflow: hidden;
                padding: 5px;
                width: 100%;
                margin: 10px 0 0 0;
            }
            
            .part-movie>label {
                font-size: 14px;
                line-height: 50px;
                margin: 10px;
            }
            
            .btn-partmovie {
                background-color: #696969;
                color: #fff;
                padding: 10px;
                margin: 5px;
                outline: none;
                border-radius: 5px;
                outline-style: none;
            }
            
            .part-movie .btn-partmovie:hover {
                background-color: #c77921a6!important;
                cursor: pointer;
            }
            
            .content-box {
                width: 100%;
                margin: 20px 0;
                background-color: #282828;
                padding: 10px;
            }
            
            .content-movie {
                margin: 0 0 10px 5px;
            }
            
            .sub-content-movie {
                text-align: justify;
                margin: 0 0 10px 5px;
                color: #828282;
            }
            
            .appoint-movie {
                background-color: black!important;
                padding: 20px;
            }
            
            .movie-list-wrapper {
                position: relative;
                overflow: hidden;
                max-width: 742px;
            }
            
            .movie-list {
                display: flex;
                align-items: center;
                height: 300px;
                transform: translateX(0);
                transition: all 1s ease-in-out;
            }
            
            .movie-list-item {
                margin: 0 8px;
                position: relative;
                border-radius: 20px;
            }
            
            .movie-list-item:hover .movie-list-item-img {
                transform: scale(1.2);
                margin: 0 20px;
                opacity: .4;
            }
            
            .movie-list-item:hover .movie-list-item-name {
                opacity: 1;
            }
            
            .movie-list-item:hover .movie-list-item-btn {
                opacity: 1;
            }
            
            .movie-list-item-img {
                border-radius: 10px;
                width: 168px;
                transition: all .3s ease-in-out;
                height: 225px;
                object-fit: cover;
            }
            
            .movie-list-item-name {
                position: absolute;
                max-width: 100%;
                margin-left: 5%;
                margin-right: 5%;
                font-size: 16px;
                top: 10%;
                transition: all .8s ease-in-out;
                background-color: #ff660d99;
                color: #fff;
                text-align: center;
                opacity: 0;
                border-radius: 5px;
                padding: 0 5px;
            }
            
            .movie-list-item-btn {
                position: absolute;
                transition: all .8s ease-in-out;
                padding: 10px 10px;
                font-size: 16px;
                top: 80%;
                left: 0px;
                right: 0px;
                border-radius: 10px;
                background-color: #55504c8e;
                color: #fff;
                opacity: 0;
                text-align: center;
            }
            
            .movie-list-item-btn:hover {
                transition: all .1s ease-in-out;
                background-color: #ff9c2b;
                cursor: pointer;
            }
            
            .arrow {
                font-size: 120px;
                top: 100px;
                right: 0;
                position: absolute;
                opacity: 0.3;
            }
            
            .movie-list-wrapper .arrow:hover {
                background-color: #aaa;
                cursor: pointer;
                opacity: .8;
            }
            /* 
END: INFORMATION------------------------------ */
            
            .icon-star {
                color: #f78400;
                padding: 5px;
                font-size: 16px;
            }
            
            .upcoming-movie {
                /* padding: 10px; */
                margin-right: 5px;
                width: 30%;
            }
            
            .upcoming-movie>.movie-list {
                display: flex;
                flex-direction: column;
                margin: 10px;
            }
            
            hr {
                color: #f78400;
                font-size: 20px;
            }
            
            .movie-list-upcoming {
                width: 100px;
            }
            
            .movie-list-item-upcoming {
                display: flex;
                width: 244px;
                font-size: 14px;
                align-items: center;
                margin: 10px 0;
            }
            
            .movie-list-upcoming-img:hover {
                opacity: 0.7;
                cursor: pointer;
            }
            
            .movie-list-item-upcoming>a:hover {
                color: #ff9c2b;
                cursor: pointer;
                opacity: 1;
            }
            
            .movie-list-upcoming-img {
                width: 80px;
                margin-right: 6px;
            }
            
            .movie-list-upcoming-name {
                color: #fff;
                text-decoration: none;
                text-transform: bold;
                font-weight: bold;
            }
            /* footer */
            
            #footer {
                width: 100%;
                text-align: center;
                line-height: 1.5;
                padding: 20px;
                background-color: rgb(59, 59, 59);
            }